<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<section>
    <h1>Welcome The main page</h1>
    <h2>You can begin creating a fight scenario my choosing one of the options:</h2>
    <ul>
        <li><a href="/armor">Armor</a></li>
        <li><a href="/character">Character creation</a></li>
        <li><a href="/charlist">Characters list</a></li>
        <li><a href="">Enemy</a></li>
        <li><a href="/trinket">Trinket</a></li>
        <li><a href="/weapon">Weapon</a></li>
    </ul>
</section>
</html>
